<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">FITUR PEGAWAI</li>
      <li><a routerLink="kinerja-pegawai"><i class="fa fa-desktop text-aqua"></i> <span>Kinerja Pegawai</span></a></li>
      <li><a routerLink="skp-bulanan"><i class="fa fa-book"></i> <span>Atur SKP Bulanan</span></a></li>
      <li>
        <a routerLink="pelaporan">
          <i class="fa fa-th"></i> <span>Pelaporan</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-red">10</small>
          </span>
        </a>
      </li>
      
      <li class="header">FITUR ADMIN SKPD</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Pemasangan Uraian Tugas<br> &nbsp;&nbsp;&nbsp;&nbsp;  Jabatan</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Master Kegiatan</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Report Perilaku</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>